body {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 50%;
    margin: auto;
    max-width: 100vw;
}

header {
    background-color: pink;
    width: 100%;
    height: 100%;
    max-width: 100vw;
}

    .top-links {
        align-items: left;
        padding-top:0%;

    }

    .right-links {
        align-items: right;
    }

main {
    size: auto;
    max-width: 2000px;
    width: 900px;
}
    .link {

        color: #333333;
        font-size: 20px;
        padding-top: 0%;
    }

    .link:hover {
        color: pink;
    }

    .search {
        border: 0px solid #333333;
        padding-left: 10px;
        margin: 10px;
        boarder: 30%;
        max-width: 500px;
        box-shadow: 0px 0px 9px 0.5px #ead1dc;
        padding-top: 0px;
        line-height: 30px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right: 200px;
        border-radius: 10px 10px 510px 10px;
    }

    .mads {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
    }

    .skate {
        width: 100%;
        max-width: 700px;
        height: auto;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    ul {
        list-style-type: none;
        padding-left: 0px;
    }

    .trend {
        color: grey;
        font-size: 12px;
        padding-bottom: 0px;
        padding-top: 30px;
    }

footer {
    padding-bottom: 0%;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }